<div>
    <div class="big-box">
        <div class="box box1">Box 1</div>
        <div class="slider-container">
            <div class="slider" #slider>
                <div class="arrow-button left" (click)="slideLeft()">&lt;</div>
                <div class="box box2">Box 2</div>
                <div class="box box3">Box 3</div>
                <div class="box box4">Box 4</div>
                <div class="box box5">Box 5</div>
                <div class="box box6">Box 6</div>
                <div class="box box7">Box 7</div>
                <div class="arrow-button right" (click)="slideRight()">&gt;</div>
            </div>
        </div>
        <div class="box box8">Box 8</div>
    </div>
</div>