<nav class="below-navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-between" [ngClass]="{ 'show': isMenuOpen }" id="navbarCollapse">
      <div class="collapse navbar-collapse" id="subNavbarCollapse" [ngClass]="{ 'show': isSubMenuOpen }">
        <ul class="below-nav">
          <li class="nav-item">
           <div class="small-nav">
            <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/50379f65f7b59622.png?q=100" alt="">
            <p>Top Offers</p>
           </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/f7b2a4eeb35a8c9f.png?q=100" alt="">
              <p>Fashions</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/0a0243119f02f7a5.png?q=100" alt="">
              <p>Mobile & Tablet</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/da4491af4ee551d6.png?q=100" alt="">
              <p>Electronics</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/7a9da987f315df35.png?q=100" alt="">
              <p>TV & Appliances</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/e83a5f27b01d9a7e.png?q=100" alt="">
              <p>Beauty</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/a8cfa33c7206ae57.png?q=100" alt="">
              <p>Home & Kitchen</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/4e0bdf8567ecb960.png?q=100" alt="">
              <p>Furniture</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/def8193d5a7380ee.png?q=100" alt="">
              <p>Flights & More</p>
             </div>
          </li>
          <li class="nav-item">
            <div class="small-nav">
              <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/aecfaba5969b96dd.png?q=100" alt="">
              <p>Grossary</p>
             </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': isMenuOpen }">
      <ul class="navbar-nav ml-auto" id="small-box">
        <li class="nav-item d-lg-none .d-md-none ">
          Top Offers
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Mobile & Tablets
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Electronics
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          TV & Appliances
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Fashion
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Beauty
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Home & Kitchen
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Furniture
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Flights 
        </li>
        <li class="nav-item d-lg-none .d-md-none">
          Grossary
        </li>
      </ul>
    </div>
  </nav>

