.product-item-content {
	border-radius: 3px;
	text-align: center;
	background-color: snow;
}
.product-item{
    width: 100%;
    margin-top: 1%;
    border-radius: 10px;
}
  .product-image {
    width: 50%;
   
}
.p-carousel-indicators{
    color: aliceblue;
    background-color: aliceblue;
}
h3{
    color:red;
    text-align: center;
}
.p-carousel-dot-icon{
    display: none;

}
.big-box{
    width: 100%;
}




